.app {
  padding: 40px;

  .app-title {
    margin-bottom: 20px;
  }

  .app-inner{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 50px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}
