.app {
  padding: 3rem;

  .app-title {
    margin-bottom: 1.2rem;
  }

  .app-inner{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 3rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }
}
